.container{
	width:80%;
	margin:0 auto;
	border:2px solid red;
}

.header{
	color:white;
	background-color:black;
	font-family:Arial, Verdana, serif;
	text-align:center;
	font-weight:bold;
}

.header img{
	position:relative;
	vertical-align:middle;
}

.menu{
	margin:10px;
	font-size:18px;
	color:black;
	list-style-type:none;
}

.menu li{
	display:inline;
	padding:10px;
	background-color:yellow;
}

.menu li a{
	color:red;
	font-weight:bold;
}

.menu li a:hover{
	color:blue;
	text-decoration:none;
	
}

.content{
	padding:40px;
	text-align:justify;
	font-size:14px;
	background-color:white;
}

.content h1{
	margin-left:20px;
}

.content p{
	margin-left:40px;
}

.footer{
	height:80px;
	background-color:black;
	color:white;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}

.asd{
	position:relative;
}


