.container{
	width:80%;
	margin:0 auto;
	border:2px solid red;
}

.header{
	color:white;
	background-color:black;
	font-family:Arial, Verdana, serif;
	text-align:center;
	font-weight:bold;
}

.header img{
	position:relative;
	vertical-align:middle;
}

.menu{
	color:black;
	list-style-type:none;
	text-align:center;
}

.menu li{
	position:relative;
	top:-5px;
	margin:-3px;
	border-left:6px solid #59FF45;
	border-right:4px solid white;
	display:inline;
	padding:15px;
	background-color:#D630FF;
}

.menu li:hover{
	background-color:#59FF45;
}

.menu li a{
	font-size:20px;
	color:white;
	font-weight:bold;
	text-decoration:none;
}

.menu li a:hover{
	text-decoration:none;
	
}

.content{
	padding:40px;
	text-align:justify;
	font-size:14px;
	background-color:white;
}

.content h1{
	margin-left:20px;
}

.content p{
	margin-left:40px;
}

.footer{
	height:80px;
	background-color:black;
	color:#D630FF;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	padding:5px;	
}

.footer a{
	text-decoration:none;	
}

.footer a:hover{
	color:red;
}

.asd{
	position:relative;
	left:-20px;	
}

.asd2{
	position:relative;
	right:-10px;	
}
