*{
	max-height: 100%;
}

a{
	text-decoration:none;
	color:#FFF;
}

.header{
	background-color: black;
}

.menu{
	background-color: white;
	list-style: none;
}

.menu li {
	display: inline;
	margin: 25px;
	font-weight: bold;
	font-size: 26px;
	color: #FFF;
	position: relative;
	top: -90px;
	left: 420px;
}



.menu li a:hover{
	font-size:32px;
}

.content{
	background-color:#C6C6C6;
	height:75%;
	position: relative;
	top:-70px;
}

.footer{
	height:200px;
	background-color:#000;
	position:relative;
	top:-100px;
}

.list{
	color:#FFF;
	list-style-type:none;
	position:relative;
	left:70px;
	top:10px;
}

.list li{
	margin:30px;
}

.list li a{
	font-size:16px;
}

span{
	font-size:24px;
	color:#FFF;
}

.list2{
	position:relative;
	left:250px;
	top:-190px;
}

.list2 li{
	margin:30px;
}