.pippo{
	background-color:yellow;
}

.pipponew{
	background-color:red;
}

.new{
	background-color:blue;
	position:relative; /*è un posizionamento relativo all'html inserito precedentemente*/
	top:20px;
	left:30px;
}

.pippo3{
	background-color:green;
	position:absolute; /*blocca un elemento rispetto alla posizione in cui è*/
	top:20px;
	left:10px;
	width:200px;
	height:230px;
}

.xx{
	position:relative;
	top:20px;
	left:10px;
	color:red;
}

