.header{
	background-color: black;
}

.menu{
	background-color: white;
	list-style: none;
}

.menu li {
	display: inline;
	margin: 25px;
	font-weight: bold;
	font-size: 26px;
	color: #FFF;
	position: relative;
	top: -90px;
	left: 420px;
}